/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --main-bg-color: #00183f;
  --main-text-color: #f1b2ce;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
}

.theme-dark .page {
  background-image: url('../images/cover-image-dark.png');
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-bg-color: #00183f;
    --main-text-color: #f1b2ce;
    --main-heading-color: #00183f;
    --section-heading-color: #ff0070;
    --header-logo-color: #db00ff;
    --footer-logo-color: #db00ff;
    --nav-color: #ff0070;
    --nav-hover-color: rgb(255 0 112 / 0.4);
  }

  .page {
    background-image: url('../images/cover-image-dark.png');
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--nav-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--nav-hover-color);
  }
}