/* Базовые стили */
.page {
  background-color: var(--main-bg-color);
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

/* Декоративные уголки */

.decorated-zone {
  position: relative;
}

/* Правый верхний угол */

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: var(--decor-size);
  block-size: var(--decor-size);
  border-inline-end: var(--decor-border);
  border-block-start: var(--decor-border);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

/* Левый нижний угол */

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: var(--decor-size);
  block-size: var(--decor-size);
  border-inline-start: var(--decor-border);
  border-block-end: var(--decor-border);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

/* Шапка сайта */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh; /* Высота 100vh это 100% */
  min-block-size: 668px;
  padding: var(--main-gap);
}

@supports (block-size: 100dvb) {
  .header {
    block-size: 100dvb;
  }
}

/* Кнопки */

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.header__theme-menu-button {
  position: relative;
  display: block;
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

/* REC */

.header__rec {
  position: absolute;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

/* Логотип в шапке */

.header__logo {
  justify-self: start;
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Текст в шапке */

.header__paragraph {
  font-weight: bold;
  line-height: var(--main-line-height);
}

/* Универсальный класс для заголовков с фоном */

.title-decor {
  color: var(--main-heading-color);
  background-color: var(--accent-color);
}

/* Основа */

.content {
  padding: calc(4 * var(--main-gap)) var(--main-gap);
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border-block-end: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.content__link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* Секции */

.content-section:not(:last-of-type) {
  margin-block-end: calc(5 * var(--main-gap));
}

.content-section__title {
  margin-block-end: calc(2 * var(--main-gap));
  color: var(--section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

/* Блоки текста */

.text-block {
  margin-block-start: calc(2 * var(--main-gap));
}

.text-block__heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.text-block__subheading {
  margin-block-start: calc(2 * var(--main-gap));
  font-weight: normal;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.section-how__title {
  margin-block-start: 0;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.text-block__main-content {
  color: var(--main-text-color);
}

.text-block__paragraph {
  margin-block-start: var(--main-gap);
  line-height: var(--main-line-height);
}

/* Галерея */

.grid-heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.grid {
  display: grid;
  gap: var(--main-gap);
}

.grid__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Подвал  */

.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--main-gap);
}

@supports (block-size: 100dvb) {
  .footer {
    block-size: 100dvb;
  }
}

.footer__logo {
  color: var(--footer-logo-color);
  font-size: var(--footer-logo-size);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Планшет (от 768px) */

@media (min-width: 768px) {
  .header__logo {
    position: relative;
    inset-inline-start: calc(-1 * var(--main-gap));
  }

  .header__text {
    inline-size: 50%;
  }

  .content {
    padding: calc(3 * var(--main-gap)) var(--main-gap);
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
  }

  .content-section:not(:last-of-type) {
    margin-block-end: calc(4 * var(--main-gap));
  }

  .content-section__title {
    margin-block-end: 0;
  }

  .text-block {
    margin-block-start: var(--main-gap);
  }

  .text-blocks .text-block:first-of-type {
    margin-block-start: 0;
  }

  .text-block__paragraph {
    margin-block-start: calc(var(--main-gap) / 2);
  }

  .text-block__subheading {
    margin-block-start: var(--main-gap);
  }

  .what .text-blocks {
    grid-column: 1 / -1;
  }

  .what .text-block {
    margin-block-start: var(--main-gap);
  }

  /* Галерея */

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
  }

  .grid-heading {
    grid-column: 1 / -1;
  }

  .grid__image:first-of-type {
    grid-column: span 2;
  }

  .grid__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .grid__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .grid__image:last-of-type {
    grid-column: span 2;
  }

  .header__theme-menu {
    margin-block-start: 163px;
    position: relative;
    z-index: 10; /* Чтобы кнопки были поверх других элементов и работали */
  }
}

/* Десктоп (от 1024px) */

@media (min-width: 1024px) {
  .header {
    min-block-size: 640px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .why .text-blocks {
    grid-column: 2 / -1;
  }

  .what .text-blocks {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-gap);
  }

  .what .text-blocks .text-block {
    margin-block-start: 0;
  }

  .how .text-blocks {
    grid-column: 2 / -1;
  }
}

@media (max-width: 767px) {
  .header__theme-menu {
    margin-block-start: 65px;
  }
}